@tailwind base;
@tailwind components;
@tailwind utilities;

/* Otimizações de toque para Mobile (PWA) */
* {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

input, textarea {
  user-select: text;
}

body {
  overscroll-behavior-y: none;
  background-color: #f8fafc;
}
